<div class="container-form">


  <form class="example-form">

    <div class="two-texts">
      <h1>{{'sign-up' | translate}}</h1>
      <div>
        <h3>{{'its' | translate}}</h3>
      </div>
    </div>

    <hr>
    <br>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="outline">
        <mat-label>{{'name' | translate}}</mat-label>
        <input matInput [formControl]="nameFormControl">
        <mat-error *ngIf="nameFormControl.hasError('required')">{{'name-required' | translate}}</mat-error>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="outline">
        <mat-label>{{'last-name' | translate}}</mat-label>
        <input matInput [formControl]="lastNameFormControl">
        <mat-error *ngIf="lastNameFormControl.hasError('required')">{{'last-name-required' | translate}}</mat-error>
      </mat-form-field></td>
    </tr></table>


    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>{{'email' | translate}}</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="emailFormControl.hasError('required')">{{'email-required' | translate}}</mat-error>
    </mat-form-field>


    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>{{'telephone' | translate}}</mat-label>
      <span matPrefix>+374 &nbsp;</span>
      <input type="tel" matInput [formControl]="phoneFormControl">
      <mat-error *ngIf="phoneFormControl.hasError('required')">{{'telephone-required' | translate}}</mat-error>
    </mat-form-field>


    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>{{'region' | translate}}</mat-label>
      <mat-select [formControl]="regionControl" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let region of regions" [value]="region">
          {{region.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="regionControl.hasError('required')">{{'region-required' | translate}}</mat-error>
    </mat-form-field>


    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>{{'city' | translate}}</mat-label>
      <mat-select [formControl]="cityControl" required>
        <mat-option><input matInput type="search"></mat-option>
        <mat-option *ngFor="let city of cities" [value]="city">
          {{city.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="cityControl.hasError('required')">{{'city-required' | translate}}</mat-error>
    </mat-form-field>


    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>{{'school' | translate}}</mat-label>
      <mat-select [formControl]="schoolControl" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let school of schools" [value]="school">
          {{school.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="schoolControl.hasError('required')">{{'school-required' | translate}}</mat-error>
    </mat-form-field>



    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>{{'subject' | translate}}</mat-label>
      <mat-select [formControl]="websiteMultiCtrl" [multiple]="true"  #multiSelect>
        <mat-option>
          <ngx-mat-select-search [formControl]="websiteMultiFilterCtrl"></ngx-mat-select-search>
        </mat-option>

        <mat-option *ngFor="let website of filteredWebsitesMulti | async" [value]="website">
          {{website.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="subjectControl.hasError('required')">{{'subject-required' | translate}}</mat-error>
    </mat-form-field>




    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>{{'grade' | translate}}</mat-label>
      <mat-select [formControl]="toppings" multiple>
        <mat-select-trigger>
          {{toppings.value ? toppings.value[0] : ''}}
          <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
        (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
      </span>
        </mat-select-trigger>
        <mat-option *ngFor="let topping of toppingList1" [value]="topping">{{topping}}</mat-option>
      </mat-select>
      <mat-error *ngIf="gradeControl.hasError('required')">{{'grade-required' | translate}}</mat-error>
    </mat-form-field>




    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>{{'password' | translate}}</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordFormControl">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="passwordFormControl.hasError('required')">{{'password-required' | translate}}</mat-error>
    </mat-form-field>



    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>{{'confirm' | translate}}</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [formControl]="confirmPasswordFormControl">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="passwordFormControl.hasError('required')">{{'confirm-required' | translate}}</mat-error>
    </mat-form-field>

    <br>
    <br>

    <div class="footer">
      <a href="" style="color: #34c88a; margin-top: 20px">{{'register' | translate}}</a>
      <button mat-raised-button color="primary" class="button" (click)="signInButton()">Ok</button>
    </div>

  </form>

</div>

